In [29]:
text = "What a beautiful day"

In [30]:
text.count('a')

4

In [31]:
text.replace ('beautiful', 'terrible') # Shift + Enter to run; Ctrl + a to select or Ctrl + C on line end to copy line

'What a terrible day'

In [32]:
text = "What a beautiful day, Nikolaj, It's great!"
text.find("Nikolaj")

22

In [33]:
text[ text.find('Nikolaj'): text.find('What', text.find('Nikolaj'))]

"Nikolaj, It's great"

In [34]:
text_with_numbers = "6847"

print (text_with_numbers.isdigit() )
print ('4.5$'.isdigit() )
print ("4.5".isnumeric() )

True
False
False

In [35]:
text = '             hey there                '
print(text.strip() )
print(text)

hey there
             hey there

In [36]:
text = text.strip()
print (text.capitalize() )

Hey there

# String operations

In [37]:
'Hello' + ' World'

'Hello World'

In [38]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

## Formatting. f-string

In [39]:
name = 'Nikolaj'
surname = 'Goncarov'
age = 28

print( 'Hi, my name is ' + name + ' ' + surname + ', I am ' + str(age) + ' years old.' )
print( 'Hi, my name is ' + name + ' ' + surname + ', I am ' + str(age) + ' years old.' )
# now we try f-string
print( 'f-string')
print( f'Hi, my name is {name} {surname}, I am {age} years old.' )
print( f'Hi, my name is {name} {surname}, I am {age + 2} years old.' )

Hi, my name is Nikolaj Goncarov, I am 28 years old.
Hi, my name is Nikolaj Goncarov, I am 28 years old.
f-string
Hi, my name is Nikolaj Goncarov, I am 28 years old.
Hi, my name is Nikolaj Goncarov, I am 30 years old.

# Numbers

In [40]:
number = 2349

float_number = 2349.57

In [41]:
print( type(number) )
print( type(float_number) )

<class 'int'>
<class 'float'>

# Operations

In [43]:
print ( number + 57)
print ( number - 57)
print ( number * 57)
print ( number / 57)
print ('//')

print ( 13 // 10) # get full division part
print ( 23 // 10) # get full division part

print('modulus')
print ( 13 % 10)
print ( 14 % 10)
print ( 44 % 10)

2406
2292
133893
41.21052631578947
//
1
2
modulus
3
4
4

In [46]:
print (1 % 2) #counting down like "na pervyj vtoroj rasscitajsia"
print (2 % 2)
print (3 % 2)
print (4 % 2)

1
0
1
0

In [49]:
c = 5
print (c)
c = c + 1
print (c)
c += 1
print (c)
c *=2
print (c)
c /= 3
print (c)

5
6
7
14
4.666666666666667

In [51]:
print(3 ** 2) #multiplying in the power of the number that comes after **
print(3 ** 3)
print(3 ** 4)
print(3 ** 8)

9
27
81
6561

# String tasks

In [53]:
#Printing my name and surname with one print() function
name = 'Nikolaj'
surname = 'Goncarov'

print( f"{name} {surname} is trying to complete this string task.")

Nikolaj Goncarov is trying to complete this string task.

In [59]:
#From the string ‘Python makes me really really happy!’

text = ('Python makes me really really happy!')
print( text.replace ('Python', 'PyThOn'))

print( text.upper ())

text.split()

PyThOn makes me really really happy!
PYTHON MAKES ME REALLY REALLY HAPPY!

['Python', 'makes', 'me', 'really', 'really', 'happy!']

In [81]:
#Extract the words from "Hello World, I am happy to learn Python!"
textstr = ("Hello World, I am happy to learn Python!")
len(textstr)

print (textstr[textstr.find('happy')])

print(textstr[0:10])
print(textstr[18:23])
print(textstr[24:26])

print (textstr[ textstr.find('happy') : textstr.find('happy') + le] )

print ( textstr[ textstr.find('to') : textstr.find('to') + len('to'))])

h
Hello Worl
happy
to
Hello World, I am happy to learn Python!

In [82]:
print (textstr.find('happy'))

18

# Bool (Bulean)

In [98]:
bool_1 = True
bool_2 = False
print (type(bool_1) )

<class 'bool'>

In [84]:
number = 0.1
print ( bool(number) )

True

In [85]:
text = 'hello'
print ( bool(text) )
# only empty string becomes False
text = ''
print ( bool(text))

True
False

In [92]:
print ( 2 > 1)
print ( 2 < 1)
print ( 2 >= 2)
print ( 2 <= 3)
print ('//')
print( 'check if equal')
print ( 10 == 10)
print ( 10 == 5)
print ('//')
print( 'check if NOT equal')
print ( 10 != 10)
print ( 10 != 5)

True
False
True
True
//
check if equal
True
False
//
check if NOT equal
False
True

In [94]:
text = 'hello world'
print ( 'o' in text )
print ( 'world' in text )
print ( 'World' in text ) #capital letter, not the same

True
True
False

In [95]:
print (True)
print (not True)
print (not not True)

True
False
True

In [97]:
print ('and')
print ( 5 > 2 and 10 < 20 )
print ( 5 > 2 and 10 > 20 )
print ( 5 < 2 and 10 < 20 )
#if at least one of them is incorrect, they it'd be False
print ('or')
print ( 5 > 2 or 10 < 20 )
print ( 5 > 2 or 10 > 20 )
print ( 5 < 2 or 10 > 20 )

and
True
False
False
or
True
True
False