In [17]:
##Display number 8 on screen
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print( my_tuple [-1][1][-1])
print( my_tuple [3][1][1])

#Change the value
tuple1 = (11, [222, 33], 44, 55)
tmp_list = list(tuple1)
print(tmp_list)
# tmp_list[0] = 5555
# print(tmp_list)
print(tmp_list[1])
tmp_list[1][1] = 22
print(tmp_list)
tuple1 = tuple(tmp_list)
print(tuple1)

8
8
[11, [222, 33], 44, 55]
[222, 33]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [20]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][1] = 22 #Works only with a tuple (wouldn't work on 44 or 11)
print(tuple1)

(11, [222, 22], 44, 55)

In [27]:
#Add two tuples
tuple_1 = (1,5,3)
tuple_2 = (10,15,25)

sum_of_tuples = tuple_1 + tuple_2
print(sum_of_tuples)

print('remove last tuple value')
tmp_list = list(tuple_1)
print(tmp_list)
tmp_list.pop()
print(tmp_list)
tuple_1 = tuple(tmp_list)
print(tuple_1)


print('sort')
print(sum_of_tuples)
sorted(sum_of_tuples)
sum_of_tuples = tuple( sorted(sum_of_tuples))
print(sum_of_tuples)

print(f'count of 10: {sum_of_tuples.count(10)}')
print (f'max value of tuple: {sum_of_tuples[-1]}')
print (f'max value of tuple: { max (sum_of_tuples) }')

(1, 5, 3, 10, 15, 25)
remove last tuple value
[1, 5, 3]
[1, 5]
(1, 5)
sort
(1, 5, 3, 10, 15, 25)
(1, 3, 5, 10, 15, 25)
count of 10: 1
max value of tuple: 25
max value of tuple: 25

# Range

In [35]:
# Range
print ( range(10) )
print ( type (range(10) ) )
print ( list (range(10) ) )
print ( list (range(15) ) )
print ( list (range(7, 15) ) )
# range(start, end, step)
print ( list (range(11, 27, 3) ) )
print ( list (range(43, 27, -3) ) )

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[7, 8, 9, 10, 11, 12, 13, 14]
[11, 14, 17, 20, 23, 26]
[43, 40, 37, 34, 31, 28]

# For loop

In [39]:
cities = ['Vilnius', 'London', 'Kaunas', 'Berlin']

# for <any_name> in <list/sequence>:
for city in cities:
    print ('beginning of the loop iteration')
    print(f'{city} is a beautiful city')
    print ('end of the loop iteration')
print ('end of everything')

beginning of the loop iteration
Vilnius is a beautiful city
end of the loop iteration
beginning of the loop iteration
London is a beautiful city
end of the loop iteration
beginning of the loop iteration
Kaunas is a beautiful city
end of the loop iteration
beginning of the loop iteration
Berlin is a beautiful city
end of the loop iteration
end of everything

In [37]:
for i in cities:
    print(f'{i} is a beautiful city')

Vilnius is a beautiful city
London is a beautiful city
Kaunas is a beautiful city

In [40]:
for number in range(4,23,7):
    print (number)

4
11
18

In [41]:
#for loop tasks
#1. Print the first 10 inclusive numbers using for loop

for number in range(11):
    print (number)

0
1
2
3
4
5
6
7
8
9
10

In [43]:
#2. Printing the sum of numbers inclusive
result = 0
for number in range(51):
    result += number
    print (f'intermediate result: {result}')

print(f'final result is: {result}')

intermediate result: 0
intermediate result: 1
intermediate result: 3
intermediate result: 6
intermediate result: 10
intermediate result: 15
intermediate result: 21
intermediate result: 28
intermediate result: 36
intermediate result: 45
intermediate result: 55
intermediate result: 66
intermediate result: 78
intermediate result: 91
intermediate result: 105
intermediate result: 120
intermediate result: 136
intermediate result: 153
intermediate result: 171
intermediate result: 190
intermediate result: 210
intermediate result: 231
intermediate result: 253
intermediate result: 276
intermediate result: 300
intermediate result: 325
intermediate result: 351
intermediate result: 378
intermediate result: 406
intermediate result: 435
intermediate result: 465
intermediate result: 496
intermediate result: 528
intermediate result: 561
intermediate result: 595
intermediate result: 630
intermediate result: 666
intermediate result: 703
intermediate result: 741
intermediate result: 780
intermediate result: 820
intermediate result: 861
intermediate result: 903
intermediate result: 946
intermediate result: 990
intermediate result: 1035
intermediate result: 1081
intermediate result: 1128
intermediate result: 1176
intermediate result: 1225
intermediate result: 1275
final result is: 1275

In [47]:
#input tasks
#Use Input() to select a number, print its product from 1 to 10 inclusive
user_input = input('enter a number')
print(user_input)
user_number = int(user_input)
print(user_number)

for number in range(1, 11):
    print (f'{user_number} x {number} = {user_number * number} ')

5
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [55]:
#Get all possible combinations from these lists, add them to a single list

days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []

for day in days:
    #print (day)
    for hour in hours:
        #print(hour)
        #combinations.append( f'{day} {hour}' )
        combinations.append( (day, hour) )

print (combinations)
print (len(combinations))

[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]
70

# if statement

In [56]:
x = 2
print (x > 5)

if x > 5:
    print ('value is more than 5')

if x < 5:
    print ('value is less than 5')

False
value is less than 5